<div class="p-4">
    <app-nav-bar></app-nav-bar>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Selected</th>
            <th scope="col">Available</th>
          </tr>
        </thead>
        <tbody *ngFor="let product of allProducts">
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <!-- <i *ngIf="product.selected" class="fa fa-heart" aria-hidden="true" (click)="isSelectedStatus(product.selected)"></i>
                <i *ngIf="!product.selected" class="fa fa-heart-o" aria-hidden="true" (click)="isSelectedStatus(product.selected)"></i> -->
                <i [class]="product.selected ? 'fa fa-heart' : 'fa fa-heart-o'" aria-hidden="true" (click)="isSelectedStatus(product)"></i>
            </td>
            <td>
                <input class="form-check-input text-center" type="checkbox" value="" id="flexCheckDefault" [checked]="product.selected">
            </td>
            <td>
                <button [class]="product.selected ? 'btn btn-danger' : 'btn btn-success'">{{product.selected ? 'Selected' : 'UnSelected' }}</button>
            </td>
            <td>
                <button class="btn btn-danger">
                    <i class="fa fa-trash" aria-hidden="true" (click)="deleteProductWithId(product.id)"></i>
                </button> 
            </td>
            <td>
                <button class="btn btn-dark">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button> 
            </td>
          </tr>
        </tbody>
      </table>
</div>